?>
<link href="Bootstrap-5-5.3.0/css/bootstrap.min.css" rel="stylesheet">
<link href="DataTables-1.13.6/css/dataTables.bootstrap5.min.css" rel="stylesheet">
<link href="Buttons-2.4.1/css/buttons.bootstrap5.min.css" rel="stylesheet">
<link href="DateTime-1.5.1/css/dataTables.dateTime.min.css" rel="stylesheet">
<link href="FixedHeader-3.4.0/css/fixedHeader.bootstrap5.min.css" rel="stylesheet">
<link href="Responsive-2.5.0/css/responsive.bootstrap5.min.css" rel="stylesheet">

<script src="jQuery-3.7.0/jquery-3.7.0.min.js"></script>
<script src="Bootstrap-5-5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="DataTables-1.13.6/js/jquery.dataTables.min.js"></script>
<script src="DataTables-1.13.6/js/dataTables.bootstrap5.min.js"></script>
<script src="Buttons-2.4.1/js/dataTables.buttons.min.js"></script>
<script src="Buttons-2.4.1/js/buttons.bootstrap5.min.js"></script>
<script src="Buttons-2.4.1/js/buttons.colVis.min.js"></script>
<script src="Buttons-2.4.1/js/buttons.html5.min.js"></script>
<script src="Buttons-2.4.1/js/buttons.print.min.js"></script>
<script src="DateTime-1.5.1/js/dataTables.dateTime.min.js"></script>
<script src="FixedHeader-3.4.0/js/dataTables.fixedHeader.min.js"></script>
<script src="Responsive-2.5.0/js/dataTables.responsive.min.js"></script>
<script src="Responsive-2.5.0/js/responsive.bootstrap5.js"></script>

<?php
