<!--
>* Copyright 2024 Paul Kraus
*
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
* http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*
-->
<p>The Schedule lists all the Program items,
    expand an item by clicking on it to get the Zoom Link for that item. Zoom links may not be available until
    about an hour before the panel starts.</p>
<h2>Programming</h2>
<p></p>
<h2>ConSuite</h2>
<p></p>
<h2>Readings</h2>
<p></p>
<h2>Discord</h2>
<p></p>
<h2>Artists</h2>
<table id='artist' class='display'>
    <thead>
    <tr>
        <th>Name</th>
        <th>Contact Info</th>
        <th>Webpage<br>Links open in a new Window / Tab</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Alan F. Beck, Artist</td>
        <td>alanfbeck@earthlink.net</td>
        <td><a href="http://www.alanfbeck.com" target="_blank">www.alanfbeck.com</a></td>
    </tr>
    <tr>
        <td>Nightwing Whitehead, Artist/Costumer</td>
        <td>nightwing@nightwingwhitehead.com<br>(860) 402-0847</td>
        <td><a href="http://www.nightwingwhitehead.com" target="_blank">www.nightwingwhitehead.com</a></td>
    </tr>
    </tbody>
</table>
<h2>Dealers</h2>
<table id='dealer' class='display'>
    <thead>
    <tr>
        <th>Name</th>
        <th>Contact Info</th>
        <th>Webpage<br>Links open in a new Window / Tab</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Maria Perry, Bookseller<br>Flights of Fantasy Books</td>
        <td>fof.net@gmail.com<br>(518) 542-7562</td>
        <td><a href="http://flightsoffantasyny.com" target="_blank">flightsoffantasyny.com</a></td>
    </tr>
    <tr>
        <td>Ian Randal Strock, Bookseller<br>Fantastic Books</td>
        <td>editorian@hotmail.com<br>(917) 755-6935</td>
        <td><a href="http://www.FantasticBooks.biz" target="_blank">www.FantasticBooks.biz</a></td>
    </tr>
    <tr>
        <td>Ed Trachtenberg<br>The Dragon's Lair / Plushie Zoo</td>
        <td></td>
        <td><a href="http://www.plushiezoo.biz/" target="_blank">www.plushiezoo.biz</a></td>
    </tr>
    </tbody>
</table>
