<h1>Virtual Albacon Information</h1>
<p>Use the links on the left to navigate the various virtual places.</p>
<p>The Schedule lists all the Program items,
    expand an item by clicking on it to get the Zoom Link for that item. Zoom links may not be available until
    about an hour before the panel starts.</p>
<h2>Town Hall</h2>
<p><a href="https://mit.zoom.us/j/96066812353?pwd=VzRUZDNzVkJydGQ5ajlBcjc4azZqZz09" target="_blank">Town Hall</a> is
    OPEN.</p>
<p>Just as we have tried to create a common social space at the last couple in-person Albacons, the Zoom Town Hall
    is our virtual social space. Drop in there to just hang out between panels. The ConSuite and the Reading rooms
    are Zoom BreakOut rooms off of Town Hall. We'll be here for the Ice Cream Social on Friday night and all day
    Saturday as well as Saturday night after programming ends for the virtual parties.</p>
<h2>Ice Cream Social</h2>
<p>Grab an ice cream novelty and join us for an online <b>Ice Cream Social</b> on Friday night at 8:00 PM ET in Town
    Hall (see the link above).</p>
<h2>Programming</h2>
<p>Programming will be in individual Zoom Webinars. Look in the Schedule for the Zoom link for each item.</p>
<h2>ConSuite</h2>
<p>A Breakout room off of Town Hall (see the link above).</p>
<h2>Readings</h2>
<p>In Breakout rooms off of Town Hall (see the link above).</p>
<h2>Discord</h2>
<p>We do not have any formal or official programming happening in Discord, but we do have a Discord server. You can
    drop in and report problems here (or email us at <a
            href="mailto:registration@albacon.org">registration@albacon.org</a>).
    Our Discord server is <a href="https://discord.gg/xuvrnkzkGz">https://discord.gg/xuvrnkzkGz</a></p>

<h2>Artists</h2>
<table id='artist' class='display'>
    <thead>
    <tr>
        <th>Name</th>
        <th>Contact Info</th>
        <th>Webpage<br>Links open in a new Window / Tab</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Alan F. Beck, Artist</td>
        <td>alanfbeck@earthlink.net</td>
        <td><a href="http://www.alanfbeck.com" target="_blank">www.alanfbeck.com</a></td>
    </tr>
    <tr>
        <td>Sarah Clemens, Artist</td>
        <td>slclemens@cox.net</td>
        <td><a href="http://www.clemensart.com/prints.htm" target="_blank">www.clemensart.com/prints.htm</a></td>
    </tr>
    <tr>
        <td>Lisa Hertel, The Cogitation Zone</td>
        <td>lisa@cogitation.org</td>
        <td><a href="http://www.cogitation.org" target="_blank">www.cogitation.org</a></td>
    </tr>
    <tr>
        <td>Johnna Klukas, Trained Termites Woodworking</td>
        <td>jyk@trainedtermites.com</td>
        <td><a href="http://www.trainedtermites.com" target="_blank">www.trainedtermites.com</a></td>
    <tr>
        <td>Nightwing Whitehead, Artist/Costumer</td>
        <td>nightwing@nightwingwhitehead.com<br>(860) 402-0847</td>
        <td><a href="http://www.nightwingwhitehead.com" target="_blank">www.nightwingwhitehead.com</a></td>
    </tr>
    </tbody>
</table>
<h2>Dealers</h2>
<table id='dealer' class='display'>
    <thead>
    <tr>
        <th>Name</th>
        <th>Contact Info</th>
        <th>Webpage<br>Links open in a new Window / Tab</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Peter & Gary Kushner, Booksellers<br>The Mind’s Eye Book Store</td>
        <td>gp@themindseye.com<br>(978) 987-6302</td>
        <td><a href="https://themindseye.com" target="_blank">themindseye.com</a></td>
    </tr>
    <tr>
        <td>Maria Perry, Bookseller<br>Flights of Fantasy Books</td>
        <td>fof.net@gmail.com<br>(518) 542-7562</td>
        <td><a href="http://flightsoffantasyny.com" target="_blank">flightsoffantasyny.com</a></td>
    </tr>
    <tr>
        <td>Ian Randal Strock, Bookseller<br>Fantastic Books</td>
        <td>editorian@hotmail.com<br>(917) 755-6935</td>
        <td><a href="http://www.FantasticBooks.biz" target="_blank">www.FantasticBooks.biz</a></td>
    </tr>
    <tr>
        <td>Ed Trachtenberg<br>The Dragon's Lair / Plushie Zoo</td>
        <td></td>
        <td><a href="http://www.plushiezoo.biz/" target="_blank">www.plushiezoo.biz</a></td>
    </tr>
    </tbody>
</table>
