<p>Albacon is both In-Person and Virtual this year. This means that our programming will be available for virtual
    attendees as well as in-person. It also means that panelists may be either in-person or remote. A true Hybrid
    Convention experience. <i>Please be patient with us as we work out any bugs since this is the first time we are
        attempting such a Hybrid Convention.</i></p>
<p>Use the links on the left to navigate to the various places.</p>
<p><b><i>Note that links to the Zoom panels is NOT in the Schedule this year. The links are below on this page as each
    room has one link running all day. I will be posting them at least an hour before programming starts for that
    day.</i></b></p>
<p>The Schedule lists all the Program items,
    expand an item by clicking on it to get the Zoom Link for that item. Zoom links may not be available until
    about an hour before the panel starts.</p>
<h2>Town Hall (Discord)</h2>
<p><a href="https://discord.gg/G3jjvqfD" target="_blank">Town Hall (Discord)</a> is OPEN.</p>
<p>Just as we have tried to create a common social space at the last couple in-person Albacons, we are using Discord
    as our virtual Town Hall. Drop in there to just hang out between panels or continue a discussion. We are planning
    on having the Discord <b>virtual con suite</b> channel live at the Ice Cream Social.</p>
<h2>Ice Cream Social</h2>
<h4>Friday 8:00 PM ET just off the hotel lobby and in Discord</h4>
<p>Stop by the Ice Cream Social for a tasty treat if you are on-site, otherwise grab a cold treat out of the freezer
    and join us virtually on Discord. Look for the <b>virtual con suite</b> channel.</p>
<h2>Programming</h2>
<p>Please do NOT share webinar links below.</p>
<h4>Friday 6:00 PM ET until 10:00 PM ET in-person and via Zoom</h4>
<ul>
    <li><a href='https://us02web.zoom.us/j/89738845580?pwd=Q0NiL0JYQ21SWVR1MDBlZXJ4TnFmUT09' target='_blank'>Meeting
        Room B Webinar Link</a></li>
</ul>
<h4>Saturday 10:00 AM ET until 10:00 PM ET in-person and via Zoom</h4>
<ul>
    <li><a href="https://us02web.zoom.us/j/86008854097?pwd=RE9XdW9tK09NOUpCZnplQjJqak5NQT09" target="_blank">Meeting
        Room A Link</a></li>
    <li><a href="https://us02web.zoom.us/j/89771115291?pwd=ejFwaW9hVitRZTY3bmFzVFoxTFp6UT09" target="_blank">Meeting
        Room B Link</a></li>
</ul>
<h4>Sunday 10:00 AM ET until 3:00 PM ET in-person and via Zoom</h4>
<ul>
    <li><a href="https://us02web.zoom.us/j/87191898509?pwd=WWl3K3l1eitVRG93TS9VSmcycXoxQT09" target="_blank">Meeting
        Room A Link</a></li>
    <li><a href="https://us02web.zoom.us/j/84662676573?pwd=RDg4VGpYd0I0cWZyWnhJQ2VuQVRYUT09" target="_blank">Meeting
        Room B Link</a></li>
</ul>
<p>We have 2 program rooms, cleverly named <b>meeting room A</b> and <b>meeting room B</b>. We will have 2 corresponding
    Zoom channels. These channels shall stay up all day, even between panels, in order to make them feel more like a
    real live room. So there will be people leaving at the end of one panel and coming in and getting setup for the
    next.</p>
<h2>ConSuite</h2>
<p>The in-person Con-Suite will be in room (posted here when we know it).
    We will try to have a virtual connection to the Con Suite via Discord (look for the <b>virtual con suite</b> A/V
    channel.</p>
<p>Scheduled Deliveries</p>
<ul>
    <li>Sat 2:00 PM Fruit, Wraps, Snacks</li>
    <li>Sat 4:00 PM Fudge, Cookies, Snacks</li>
</ul>
<h2>Readings</h2>
<p>Readings will be part of the main programming.</p>
<!--
<h2>Artists</h2>
<table id='artist' class='display'>
    <thead>
    <tr>
        <th>Name</th>
        <th>Contact Info</th>
        <th>Webpage<br>Links open in a new Window / Tab</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td></td>
        <td></td>
        <td><a href="" target="_blank"></a></td>
    </tr>
    </tbody>
</table>
<h2>Dealers</h2>
<table id='dealer' class='display'>
    <thead>
    <tr>
        <th>Name</th>
        <th>Contact Info</th>
        <th>Webpage<br>Links open in a new Window / Tab</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td></td>
        <td></td>
        <td><a href="" target="_blank"></a></td>
    </tr>
    </tbody>
</table>

-->
