<p><i>Please note that this site is still being actively worked on, just like in-person conventions we are working right
    up to the last minute (and maybe even after). So if something looks odd, or is broken, or changes, <b>do not be
        dismayed.</b></i></p>
<hr>
<h2>After Con</h2>
<p>Recordings of some programming items will remain available for a month after the end of the convention. Links are
    available on individual items in the schedule here (not on the public schedule). Please do not share these links.
    For a list of available recordings select "Recording" from the Type dropdown and then look for "Click to
    view recording" links in the descriptions. Note that some Streaming items do <b>NOT</b> have recordings!</p>
<hr>
<h2>Program Book</h2>
<p>The Boskone 60 Program Book is available for download <a href="/boskone/2023/Boskone_60_Program.pdf">here.</a></p>
<hr>
<h2>Programming</h2>
<p>Please see the Boskone 60 Schedule here under the Schedule link to access all Zoom and recording links. Links are
    available on individual items. These links will <em>not</em> be available from the public schedule at <kbd>schedule.boskone.org</kbd>.
</p>
<hr>
<h2>Discord</h2>
<p>We will also be using Discord this year. There will be an online Consuite, areas to continue discussions after the
    Hybrid and Online panels in Discord, as well as other discussion areas. We plan this to be a year round server
    similar to some other fannish groups. In order to join our new Discord server:<br>
<ol>
    <li>If you are already on Discord make sure you are signed in to Discord (otherwise you will wind up with a second
        profile).
    </li>
    <li>Join via the <b>NESFA and Boskone</b> Discord Server via <a href="https://www.tinyurl.com/BoskoneDiscord"
                                                                    target="_blank">https://www.tinyurl.com/BoskoneDiscord</a>
    </li>
    <li>Acknowledge the Code of Conduct in the <b>#welcome</b> channel.</li>
    <li>Go to the <b>#roles-and-ribbons</b> channel and pick the self-service roles and ribbons (including Pronouns and
        also NESFA Member and / or Boskone Staff if appropriate).
    </li>
    <li>Go to the <b>#special-role-needed</b> channel and say what you are working on to get any special roles needed;
        Tech Staff is the most likely role needed for Tech Staff or Zoom Hosts.
    </li>
</ol>
You will not see the channels mentioned in 4 and 5 until you do 3.</p>
<hr>
<h2>In Person Areas, Hours & Locations</h2>
<i>All convention activities are located to the left side as you enter the hotel lobby from the front door.</i>
<p>Some of this information is available in grid form at the <a href="https://boskone.org/program/hours-events/"
                                                                target="_blank">main Boskone site</a></p>
<p><b>Access</b> (see Information) <a href="https://boskone.org/about/access/" target="_blank">Access</a>
<p><b>Anime</b> (see Video)</p>
<p><b>Art Show</b> (Galleria/Lower Level—Right Back)</p>
<ul>
    <li>Art Viewing Hours</li>
    <ul>
        <li>Fri 6:00pm – Midnight</li>
        <li>Sat 10:00am – 9:00pm</li>
        <li>Sun 10:00am – Noon, 1:00pm – 3:00pm</li>
    </ul>
    <li>Quick Sale Hours</li>
    <ul>
        <li>Sat Noon – 9:00pm</li>
        <li>Sun 10:00am – 12:00 noon</li>
    </ul>
    <li>Bidding Closeout</li>
    <ul>
        <li>Sun 12:00 noon</li>
    </ul>
    <li>Auction</li>
    <ul>
        <li>Sun 12:30pm (if needed)</li>
    </ul>
    <li>Sales/Checkout/Art Pickup</li>
    <ul>
        <li>Sun 1:00pm – 3:00pm</li>
    </ul>
</ul>
<p><b>Autographing</b> (Galleria/Lower Level—Dead Center)</p>
<ul>
    <li>Fri 5:00pm – 6:00pm</li>
    <li>Sat 10:00am – 5:30pm</li>
    <li>Sun 10:00am – 2:00pm</li>
</ul>
<p><b>Children's Program</b> (see Dragonslair)</p>
<p><b>Coat Check</b> (see NarniaCon)</p>
<p><b>Con Office</b> (Galleria/Lower Level—Middle Back)</p>
<p><b>Con Suite</b> (Galleria/Lower Level—Right)</p>
<ul>
    <li>Fri 4:00pm – Midnight</li>
    <li>Sat 10:00am – Midnight</li>
    <li>Sun 10:00am – 3:00pm</li>
</ul>
<p><b>Dead Dog Party</b> (Staff Den)</p>
<ul>
    <li>Sun after teardown</li>
</ul>
<p><b>Dealers Room</b> (Galleria/Lower Level—Left)</p>
<ul>
    <li>Fri 5:00pm – 8:00pm</li>
    <li>Sat 10:00am – 6:00pm</li>
    <li>Sun 10:00am – 3:00pm</li>
</ul>
<p><b>Discussion Groups</b> (Galleria/Lower Level—Right Back Corner)</p>
<p><b>Dragonslair</b> (Galleria/Lower Level—Left of Entrance)</p>
<ul>
    <li>Fri 6:00pm – 8:00pm</li>
    <li>Sat 10am – 8pm</li>
    <li>Sun 10:00am – 2:00pm</li>
</ul>
<p><b>Fan Tables</b> (Galleria/Lower Level—Right Middle)</p>
<ul>
    <li>Fri 4:00pm – 6:00pm</li>
    <li>Sat 11:00am – 6:00pm</li>
    <li>Sun 11:00am – 3:00pm</li>
</ul>
<p><b>Filk/Music</b> (Harbor/Upper Level—Carlton)</p>
<ul>
    <li>Fri 4:00pm – 1:30am+</li>
    <li>Sat 10:00am – 1:30am+</li>
    <li>Sun 10:00am – 5:30pm+</li>
</ul>
<p><b>Flyer Racks/Freebies</b> (Galleria/Lower Level—Foyer)</p>
<p><b>Gaming</b> (Harbor/Upper Level—Harbor 3)</p>
<ul>
    <li>Fri 2:00pm – Midnight</li>
    <li>Sat 10:00am – Midnight</li>
    <li>Sun 10:00am – 3:00pm</li>
</ul>
<p><b>Garage Elevators</b> (Lobby Level—Near escalators)<br>
    <i>also handicap accessible elevator to Upper Level and Lower Level function space</i></p>
<p><b><i>Helmuth</i> — At Con Newletter</b> (Harbor/Upper Level—Foyer)<br>
    <i>Additional distribution from Coat Check & Flyer Racks</i></p>
<p><b>Hotel Information</b><br>
    <i>Westin Boston Seaport District Hotel, Main Number: 617-532-4600</i></p>
<p><b>Information</b> (Harbor/Upper Level—Foyer)<br>
    <i>also handling Access, and Volunteers</i></p>
<ul>
    <li>Fri 3:00pm – 9:00pm</li>
    <li>Sat 10:00am – 9:00pm</li>
    <li>Sun 10:00am – 3:00pm</li>
</ul>
<p><b>Kaffeeklatsches</b> (Galeria/Lower Level—Right of Entrance)<br>
    <i>Sign-up at Program Ops(Upper Level)</i></p>
<ul>
    <li>(No KKs Friday)</li>
    <li>Saturday – signups start Fri 3pm</li>
    <li>Sunday – signups start Sat 12 noon</li>
    <li>There are no virtual kaffeeklatsches; only available in-person. You must be present to sign up and you may only
        sign up for yourself.
    </li>
</ul>
<p><b>Kids Activities</b> (see Dragonslair)</p>
<p><b>Meetup Space</b> (Galeria/Lower Level—Right Back Corner)</p>
<p><b>NarniaCon—Coat Check</b> (Marina Foyer—Lobby Level)</p>
<ul>
    <li>Fri 1:30pm – 12:30am</li>
    <li>Sat 9:00am – 12:30am</li>
    <li>Sun 9:00am – 4:00pm</li>
</ul>
<p><b>Newsletter</b> (see <i>Helmuth</i>)</p>
<p><b>Party Board</b> (Galleria/Lower Level—Foyer, Near Escalators)</p>
<p><b>Program Ops</b> (Harbor/Upper Level—Foyer)</p>
<p><b>Programming Hours</b></p>
<ul>
    <li>In-person
        <ul>
            <li>Fri 2:30pm – 9:30pm</li>
            <li>Sat 10:00am – 11:00pm</li>
            <li>Sun 10:00am – 3:30pm</li>
            <ul>
                <li>Debrief meeting 2:30p – 3:30p</li>
                <li>Filk meeting/dead dog filk until 6:30pm</li>
            </ul>
        </ul>
    </li>
    <li>On-line
        <ul>
            <li>Fri 2:30pm – 10:30pm</li>
            <li>Sat 10:00am – 11:00pm</li>
            <li>Sun 10:00am – 2:00pm</li>
            <ul>
                <li>Debrief meeting 2:30p – 3:30p</li>
            </ul>
        </ul>
    </li>
</ul>
<p><b>Programming Locations</b></p>
<ul>
    <li>Marina Ballrooms 1, 2, 3, & 4 (Lobby Level)</li>
    <li>Harbor Ballrooms 1, 2, & 3 (Upper Level)</li>
    <li>Burroughs, Carlton (Filk), Griffin, (Readings), Lewis (Anime/Video) (Harbor/Upper Level)</li>
</ul>
<p><b>Registration [At-Con]</b> (Harbor/Upper Level—Foyer)<br>
    <i>Photo ID, Vaccination Card & Mask Required!</i></p>
<ul>
    <li>Fri 1:00pm – 8:30pm</li>
    <li>Sat 9:00am – 6:00pm</li>
    <li>Sun 9:00am – Noon</li>
</ul>
<p><b>Restaurants</b> (Also see the <a href="https://boskone.org/venue/food/" target="_blank">Boskone Restaurant
    Guide</a> — (Lobby Level)<br>
    <i>See hours on <a href="https://www.marriott.com/en-us/hotels/bosow-the-westin-boston-seaport-district/dining/"
                       target="_blank">Westin website</a></i></p>
<ul>
    <li>Starbucks (Lobby Level—Right)</li>
    <li>Birch Bar (Lobby Level—Center)</li>
    <li>MJ O'Connors (Lobby Level—Left)</li>
    <li>Sauciety (Lobby Level—Right)</li>
</ul>
<p><b>Tours</b> (Galleria/Lower Level—Right Back Corner, MeetUp 2)</p>
<p><b>Video</b> (Harbor/Upper Level—Lewis)</p>
<ul>
    <li>Fri 3:30pm – 1:30am</li>
    <li>Sat 10:00am – 1:30am</li>
    <li>Sun 10:00am – 3:30pm</li>
</ul>
<p><b>Virtual Program</b></p>
<ul>
    <li>There will be two rooms of online only programming available to
        members to watch on their own devices. These items will include the
        word VIRTUAL in the session title.
    </li>
    <li>All activities taking place in Harbor Ballroom 1 (Harbor/Upper
        Level) will be streamed to online members and available in-person to
        onsite members. These items will include the word HYBRID in the
        session title.
    </li>
</ul>
<p><b>Volunteers</b> (See "Information" above )</p>
<p><b>Workshops</b> (signup in Program Ops)</p>
