
* {
    box-sizing: border-box;
}

body {
    background-color: white;
    padding: 2px;
}

h1, h2, h3, h4 {
    font-family: Verdana, sans-serif;
}

.top {
    width: 100%;
    padding: 5px;
}

h1 {
    margin-top: 0.5rem;
}

/* place logo image inside this h1 if possible; otherwise remove margin declaration */
h1 {
    font-color: #287343;
    text-align: center;
    font-size: 3.5em;
    margin: 1rem 0 0 0;
}

.left_nav {
    padding: 2px;
}

.main {
    padding: 3px;
}

.section {
    width: 100%;
    clear: both;
    padding: 3px;
}

.warn {
    font-weight: bold;
    width: 100%;
    clear: both;
    padding: 5px;
    border: thin solid tomato;
    border-radius: 5px;
}

.diag {
    width: 100%;
    clear: both;
    padding: 5px;
    background-color: #d7d6ca;
    border-style: thin solid #998;
    border-radius: 5px;
}

.diag hr {
    border: thin solid #776;
}


.button_yes {
    background-color: rgba(0, 128, 0, 0.2);
}

.button_no {
    background-color: rgba(255, 0, 0, 0.2);
}

iframe {
    width: 100%;
    height: 1000px;
    border: thick double #7d0300;
    border-radius: 5px;
}

table {
    border: thin dotted gray;
    border-radius: 5px;
}

/* link styles */

a {
    transition: color .4s;
    color: #265C83;
}

a:visited {
    color: #265C83;
}

a:hover {
    color: #7FDBFF;
}

/* menu styles */

.left_nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: auto;
    margin: auto;
    padding: 0;
    max-width: 1000px;
    text-align: right;
}

.left_nav li {
    padding: 0.6rem 1.5rem;
    text-transform: uppercase;
    cursor: pointer;
    color: #287343;
    min-width: 80px;
    margin: auto;
}

.left_nav li a {
    color: #287343;
    font-weight: bold;
    text-decoration: none;
}

/* handle large screens */

@media (min-width: 768px) {

    .left_nav {
        width: 20%;
        float: left;
    }

    .left_nav ul {
        flex-direction: column;
        justify-content: space-between;
        height: 20vh;
        margin: 0;
    }

    .main {
        width: 80%;
        float: right;
    }
}
