@import url('https://fonts.googleapis.com/css?family=Tomorrow&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito%20Sans&display=swap');

iframe {
    width: 100%;
    height: calc(100% - 130px);
}

.main:has(+ .diag) iframe {
    height: 1000px;
}

.warn {
    padding: 10px;
}

body {
    background: url('./pattern14.png');
    overflow: hidden;
}

body:has(.diag), body.virtcon:has(#member_list_wrapper) {
    overflow: auto;
}

.virtcon {
    max-width: 1480px;
    background-color: white;
    margin: auto;
    height: 100vh;
}

.virtcon:has(.diag), .virtcon:has(#member_list_wrapper) {
    height: auto;
}

.top, .main {
    padding-left: 4%;
    padding-right: 4%;
}

.main {
    width: 100%;
    height: 100vh;
}

.main:has(+ .diag), .main:has(#member_list_wrapper) {
    height: auto;
}

.diag {
    background-color: white;
    padding: 10px;
}

.top, .left_nav {
    background: rgba(0, 0, 128, 0.85);
    color: white;
    height: 130px;
}

.top a, .left_nav a {
    color: white;
    text-decoration: none;
}

.left_nav a {
    font-size: 1.5rem;
}

.top {
    float: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top:has(+ .left_nav) {
    width: 30%;
}

.left_nav {
    float: right;
    width: 70%;
    display: flex;
    justify-content: space-between;
    padding-right: 4%;
    font-family: 'Nunito Sans';
    font-weight: 700;
}

.left_nav nav {
    flex: 100% 0 1;
}

.left_nav li > a:hover, .top h1 > a:hover {
    color: #d4af37;
}

.left_nav ul {
    list-style: none;
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
}

.left_nav ul li {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.top h1 {
    font-family: Tomorrow;
    font-size: 50px;
}

.top span {
    font-size: 14px;
    font-weight: 400;
    color: #eee;
}

@media (max-width: 1450px) {
    .virtcon {
        max-width: 95%;
    }
}
