<div class="container-fluid">
    <div class="row">
        <div class="col">
            <p>Albacon is Fully Hybrid, both In-Person and Online. This means that our programming will be available for
                online attendees as well as in-person. It also means that panelists may be either in-person or online. A
                true Hybrid Convention experience.</p>
            <p>Use the links on the left (or top if you are on a small screen) to navigate to the various places.</p>
            <p>The Schedule lists all the Program items,
                expand an item by clicking on it to get the Link for that item.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Information Desk / Registration</h2>
            <ul>
                <li>Friday: 2:00 PM - 8:00 PM</li>
                <li>Saturday: 9:30 AM - 4:00 PM</li>
                <li>Sunday: 10:00 AM - 1:00 PM</li>
            </ul>
            <h2>Ice Cream Social</h2>
            <h4>Friday 8:00 PM ET in the hotel lobby and Discord.</h4>
            <p>Stop by the Ice Cream Social for a tasty treat if you are on-site, otherwise grab a cold treat out of the
                freezer and join us online.</p>
            <h2>Vendors</h2>
            <ul>
                <li><b>The Cogitation Zone</b>: Art by Lisa Hertel</li>
                <li><b>The Mind’s Eye Bookstore</b>: Gary Kushner<br>
                    We sell used Science Fiction and Fantasy books. We have a large assortment of paperbacks and Trade
                    books. Our specialty is signed books. If you do not see something just ask. We can check our
                    inventory and ship to you direct.
                </li>
                <li><b><a href="https://trislawrence.com/about/" target="_blank">Tris Lawrence</a></b>: Deb Allen,
                    author and Duck Prints Press small press, I will have copies of anthologies I have been in which are
                    not from Duck Prints, as well as any leftover merch from my Kickstarter for my first book as Tris,
                    and information about upcoming projects.
                </li>
                <li><b><a href="https://duckprintspress.com/about-duck-prints-press/" target="_blank">Duck Prints Press:
                </a></b> is an independent publisher based in New York State. Our founding vision is to help
                    fanfiction authors navigate the complex process of bringing their original works from first draft
                    to print, culminating in publishing their work under our imprint. We are particularly dedicated to
                    working with queer authors and publishing stories featuring characters from across the LGBTQIA+
                    spectrum.<br>
                    Duck Prints will have press merch (stickers, pins, etc.) as well as print copies of prior
                    anthologies and information about upcoming projects.
                </li>
                <li><b>Fantastic Books</b>: Ian R. Strock</li>
            </ul>
        </div>
        <div class="col">
            <h2>Hospitality / Con Suite</h2>
            <p>Our Hospitality Suite will be in room 315 and on Discord.</p>
            <h4>Hours</h4>
            <ul>
                <li>Friday: Closed</li>
                <p>Due to a scheduling issue, the Hospitality Suite will not be opening sometime Saturday afternoon.</p>
                <li>Saturday: open until about 11:00 PM</li>
                <ul>
                    <li>2:00 PM fruit tray / assorted wraps / snacks</li>
                    <li>4:00 PM brownies / cookie tray / water</li>
                </ul>
                <li>Sunday: 10:00 AM to 3:00 PM</li>
                <ul>
                    <li>10:00 AM Waffle Breakfast sponsored by <a href="https://boskone.org" target="_blank">Boskone</a>
                    </li>
                </ul>
            </ul>
            <h2>Dead Dog Party: Sunday 6:00 PM - ???</h2>
            <p>It's over, it's packed up, it's loaded out, now what? Some by the Hospitality Suite (room 315) to
                reminisce about what was and what could have been.</p>
            <h2>Social Spaces</h2>
            <p>We have a number of online social spaces this year.</p>
            <h3>Town Hall (Discord)</h3>
            <p><a href="https://discord.gg/XVuTVs2Hxb" target="_blank">Town Hall (Discord)</a> is OPEN.</p>
            <p>Just as we have tried to create a common social space at the last couple in-person Albacons, we are using
                Discord as our online Town Hall. Drop in there to just hang out between panels or continue a
                discussion.</p>
            <h2>Program Recordings</h2>
            <p>Recordings of program items are being posted, links are available in the Schedule where the live
                links were. The recordings will be available for 30 days after the convention.</p>
        </div>
    </div>
    <div class="row">

        <h2>Programming</h2>
        <p>Once again we are having one Zoom session per room per day. This lets you sit in the room between panels and
            watch as people come and go. <i>Please do NOT share the links below.</i></p>
        <h4>Friday 5:00 PM ET until 11:00 PM ET in-person and via Zoom</h4>
        <ul>
            <!--
            <li><a href='https://us02web.zoom.us/j/81891833191?pwd=MW5oWjJ5RDQ5bWUyd2tXOVBvUGVrQT09' target='_blank'>Meeting
                Room A Zoom Link</a></li>
            <li><a href='https://us02web.zoom.us/j/81528418993?pwd=ajcybUs1MjY4YXpmSkgzSHVGcG9UZz09' target='_blank'>Meeting
                Room B Zoom Link</a></li>
            <li><a href='https://us02web.zoom.us/j/82291613769?pwd=bi9nWFA5blkyeFlDNk5GRzlkYkkyUT09' target='_blank'>Reading
                Room Zoom Link</a></li>
                -->
        </ul>
        <h4>Saturday 10:00 AM ET until 11:00 PM ET in-person and via Zoom</h4>
        <ul>
            <!--
            <li><a href='https://us02web.zoom.us/j/84352208229?pwd=N2R4dERvUlJIcXhyRzlXTFhxZWYzUT09' target='_blank'>Meeting
                Room A Zoom Link</a></li>
            <li><a href='https://us02web.zoom.us/j/85069751697?pwd=ZTB5NVE4a3l1cFRmTzdjRHZxb0k1UT09' target='_blank'>Meeting
                Room B Zoom Link</a></li>
            <li><a href='https://us02web.zoom.us/j/82043147730?pwd=MDZkUWlrUGZIRlpXOC9naUdlQlBqZz09' target='_blank'>Reading
                Room Zoom Link</a></li>
                -->
        </ul>
        <h4>Sunday 10:30 AM ET until 3:00 PM ET in-person and via Zoom</h4>
        <ul>
            <li><a href='https://us02web.zoom.us/j/88573941494?pwd=cWxKZVR3ZnU1TFArQjFjR2VLNldFQT09' target='_blank'>Meeting
                Room A Zoom Link</a></li>
            <li><a href='https://us02web.zoom.us/j/81871459414?pwd=UDdLckEzTWo5bHQ5UkZQOXNmMFdKQT09' target='_blank'>Meeting
                Room B Zoom Link</a></li>
            <li><a href='https://us02web.zoom.us/j/83564066567?pwd=Q3hZOFJkOHlXaXVzZm1GVWNDSWxYZz09' target='_blank'>Reading
                Room Zoom Link</a></li>
        </ul>
    </div>
</div>
