
* {
    box-sizing: border-box;
}

body {
    background-color: white;
    padding: 2px;
}

h1, h2, h3 {
}

.top {
    width: 100%;
    padding: 5px;
}

.left_nav {
    padding: 2px;
}

.main {
    padding: 3px;
}

.section {
    width: 100%;
    clear: both;
    padding: 3px;
}

.warn {
    font-weight: bold;
    width: 100%;
    clear: both;
    padding: 5px;
    border: thin solid tomato;
    border-radius: 5px;
}

.diag {
    width: 100%;
    clear: both;
    padding: 5px;
    background-color: #cccccc;
    border-style: solid;
    border-color: #ffaaaa;
    border-radius: 5px;
}

.diag hr {
    border: thin solid #776;
}


.button_yes {
    background-color: rgba(0, 128, 0, 0.2);
}

.button_no {
    background-color: rgba(255, 0, 0, 0.2);
}

iframe {
    width: 100%;
    height: 1000px;
    border: thick double #a8d4e3;
    border-radius: 5px;
}

table {
    border: thin dotted gray;
    border-radius: 5px;
}

@media (min-width: 768px) {

    .left_nav {
	width: 20%;
	float: left;
    }

    .left_nav ul {
	flex-direction: column;
	justify-content: space-between;
	height: 20vh;
	margin: 0;
    }

    .main {
	width: 80%;
	float: right;
    }
}
