
* {
    box-sizing: border-box;
}

body {
    background-color: white;
    padding: 2px;
    font-family: "Roboto", "Calibri", "Open Sans", "Lato", "Helvetica Neue", Arial, sans-serif;
}

h1, h2, h3 {
    font-family: Candara, Optima, Segoe, "Segoe UI", sans-serif;
}

.top {
    width: 100%;
    padding: 5px;
}

h1 {
    margin-top: 0.5rem;
}

/* place logo image inside this h1 if possible; otherwise remove margin declaration */
.top h1 {
    color: black;
    text-align: center;
    font-size: 3.5em;
    -webkit-text-stroke: 1px #1a415c;
    -webkit-text-fill-color: #7FDBFF;
    margin: 1rem 0 0 0;
}

.left_nav {
    padding: 2px;
}

.main {
    padding: 3px;
}

.section {
    width: 100%;
    clear: both;
    padding: 3px;
}

.warn {
    font-weight: bold;
    width: 100%;
    clear: both;
    padding: 5px;
    border: thin solid tomato;
    border-radius: 5px;
}

.diag {
    width: 100%;
    clear: both;
    padding: 5px;
    background-color: #d7d6ca;
    border-style: thin solid #998;
    border-radius: 5px;
}

.diag hr {
    border: thin solid #776;
}


.button_yes {
    background-color: rgba(0, 128, 0, 0.2);
}

.button_no {
    background-color: rgba(255, 0, 0, 0.2);
}

iframe {
    width: 100%;
    height: 1000px;
    border: thick double #a8d4e3;
    border-radius: 5px;
}

table {
    border: thin dotted gray;
    border-radius: 5px;
}

/* link styles */

a {
    transition: color .4s;
    color: #265C83;
}

a:visited {
    color: #265C83;
}

a:hover {
    color: #7FDBFF;
}

/* menu styles */

.left_nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: auto;
    margin: auto;
    padding: 0;
    max-width: 1000px;
    text-align: center;
}

.left_nav li {
    padding: 0.6rem 1.5rem;
    text-transform: uppercase;
    cursor: pointer;
    color: #265C83;
    min-width: 80px;
    margin: auto;
}

.left_nav li a {
    color: #265C83;
    font-weight: bold;
    text-decoration: none;
}

.left_nav li:hover {
    background-color: #7FDBFF;
    background-size: 100% 100%;
    color: #1a415c;
    animation: spring 300ms ease-out;
    text-shadow: 0 -1px 0 #efefef;
    font-weight: bold;
    border: thin solid #265C83;
    border-radius: 5px;
}

.left_nav li:active {
    transform: translateY(4px);
}

@keyframes spring {
    15% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(1.2, 1.1);
    }
    40% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(0.95, 0.95);
    }
    75% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(1.05, 1);
    }
    100% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(1, 1);
    }
}

/* handle large screens */

@media (min-width: 768px) {

    .left_nav {
        width: 20%;
        float: left;
    }

    .left_nav ul {
        flex-direction: column;
        justify-content: space-between;
        height: 20vh;
        margin: 0;
    }

    .main {
        width: 80%;
        float: right;
    }
}
